################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoService.Business/bin
/TodoService.Business/obj
/TodoService.DataAccess/bin
/TodoService.DataAccess/obj
/.vs/TodoApiDTO/DesignTimeBuild
/TodoService.Tests/TodoService.Business.Tests/obj
/TodoService.Tests/TodoService.Business.Tests/bin
/TodoService.Tests/.vs/TodoService.Tests/v16/TestStore
